#videoElement {
	width: 100%;
	height: auto;
	background-color: #666;
}

.hidden {
	display: none;
}
.rightContainer{
	min-width: 35%;
}
.leftContainer{
	padding-right: 10px;
	width: 70%;
}
h1{
	width: 100%;
	height: 60px;
	margin: 10px;
	border: 5px;
	background-color: black;
}
#picturesTaken{
	display: grid;
	grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
  	gap: .2rem;
}
body{
	margin: 0;
}

.row{
	display: flex;
	flex-direction: row;
	padding: .5em 0em;
}